.first-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.text1 {
  position: relative;
  left: -100%;
  animation: slide-in 2s ease-in-out forwards;
}
@keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 1%;
  }
}
.first-frame > .text1 > p > em {
  font-weight: 800;
  font-size: larger;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: rgb(255, 0, 0);
}
.first-frame > .text1 > p > em:first-child {
  animation: fade-in 2s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.first-frame > .text1 > p > em:not(:first-child) {
  animation: slide-up 2s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
